@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../../../assets/Fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../../../assets/Fonts/Poppins-Medium.ttf);
}
.DashboardTabs {
  display: flex !important;
  justify-content: center !important;
  margin-top: 2rem !important;
}

.DashboardTabs-Social,
.DashboardTabs-Business {
  width: 50%;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #000 !important;
  cursor: pointer;
}
.DashboardTabs-Business a,
.DashboardTabs-Social a {
  width: 100%;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #000 !important;
  margin: 0 !important;
  font-family: "Poppins-SemiBold";
}
.DashboardTabs-Social a {
  text-align: right;
  padding-right: 7rem !important;
}
.DashboardTabs-Business a {
  padding-left: 7rem;
}
.DashboardTabs-Social {
  display: flex;
  justify-content: flex-end;
}
.DashboardTabs-active,
.DashboardTabs-inactive {
  border: none !important;
  border-radius: 0 !important;
}
.DashboardTabs-active {
  border-bottom: 2px solid #000 !important;
}
.DashboardTabs-active,
.DashboardTabs-active a {
  background-color: #8da2af !important;
  color: #fff !important;
}
.DashboardTabs-inactive,
.DashboardTabs-inactive a {
  background-color: #000 !important;
  color: gray !important;
}
.DashboardTabs-TabContent {
  display: flex !important;
  justify-content: center !important;
  padding: 0rem 0rem;
  width: 100% !important;
}
.DashboardTabs-TabContent .tab-pane,
.DashboardTabs-TabContent .tab-pane .row {
  width: 100% !important;
  margin: 0 !important;
  margin-top: -1px !important;
}
.DashboardTabs-SocialProfile {
  padding: 3rem !important;
}

.DashboardTabs-Business__Content {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: left !important;
  background-color: #000;
  padding: 3rem !important;
}
.DashboardTabs-Business__info {
  color: #fff;
  margin-bottom: 0.5rem;
}

.DashboardTabs-Business__EditButton {
  width: 50px;
  height: 50px;
  align-self: self-end !important;
  background-color: rgb(162, 0, 165);
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.DashboardTabs-Business__EditButton:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: -1px 1px 42px 16px rgba(162, 0, 165, 0.57);
  -webkit-box-shadow: -1px 1px 42px 16px rgba(162, 0, 165, 0.57);
  -moz-box-shadow: -1px 1px 42px 16px rgba(162, 0, 165, 0.57);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .DashboardTabs-Social a {
    padding-right: 3rem !important;
  }
  .DashboardTabs-Business a {
    padding-left: 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
