@font-face {
  font-family: "Poppins-Bold";
  src: url(../../assets/Fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../../assets/Fonts/Poppins-SemiBold.ttf);
}
.ForgotPasswordContact {
  background-color: rgb(245, 245, 245);
  padding: 2rem 0rem;
}
.ForgotPasswordContact-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.ForgotPasswordContact-Header__Title {
  margin-top: 1.5rem;
  font-family: "Poppins-Bold";
  text-align: center;
}

.ForgotPasswordContact-Email {
  border-radius: 30px !important;
  border: none !important;
  padding: 1.5rem;
  margin: 1rem 0rem !important;
}
.ForgotPasswordContact-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ForgotPasswordContact-Btns {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}
.ForgotPasswordContact-Btns__Submit {
  color: #fff;
  font-family: "Poppins-Bold";
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 20px;
  width: 12rem;
  text-align: center;
  background-color: #a200a5;
  border: 1px solid #a200a5;
  transition: 0.2s;
  cursor: pointer;
}

.ForgotPasswordContact-Btns__Submit:hover {
  background-color: rgb(162, 0, 165);
  border: 1px solid #a200a5;
}
.ForgotPasswordContact-Btns__disabled,
.ForgotPasswordContact-Btns__disabled:hover {
  background-color: #8da2af;
  border: 1px solid #8da2af;
  cursor: default;
}

.ForgotPasswordContact-check__animate {
  animation: start 0.9s ease forwards;
  animation-play-state: running !important;
  opacity: 1;
}
.ForgotPasswordContact-MailBox {
  margin: 2rem 0rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ForgotPasswordContact {
    padding: 2rem 2rem;
  }
  .ForgotPasswordContact-Header__Title {
    font-size: 1.5rem;
  }
  .ForgotPasswordContact {
    background: url(../../assets/SVGs/Cloud-3-grey.svg) right 25% bottom 20% /15rem
        58% no-repeat,
      url(../../assets/SVGs/Cloud-3-grey.svg) left 25% top 20% /15rem 58% no-repeat,
      rgb(245, 245, 245);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {
  .ForgotPasswordContact {
    background: url(../../assets/SVGs/Cloud-3-grey.svg) right 25% bottom 20% /15rem
        58% no-repeat,
      url(../../assets/SVGs/Cloud-3-grey.svg) left 25% top 20% /20rem 58% no-repeat,
      url(../../assets/SVGs/Cloud-3-grey.svg) right 25% bottom 20% /15rem 58% no-repeat,
      url(../../assets/SVGs/Cloud-3-grey.svg) left 25% top 20% /20rem 58% no-repeat,
      rgb(245, 245, 245);
    animation: float 90s ease-in-out infinite;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@keyframes float {
  0% {
    background-position: right -10% top -8rem, left 0% top 2rem,
      right 10% top 11rem, left 20% top 18rem;
  }

  50% {
    background-position: right 110% top -8rem, left 100% top 0rem,
      right 90% top 8rem, left 80% top 16rem;
  }
  100% {
    background-position: right -10% top -8rem, left 0% top 2rem,
      right 10% top 11rem, left 20% top 18rem;
  }
}
