.RefundPolicy {
  padding: 8rem;
}
.RefundPolicy h1 {
  font-family: "Poppins-Bold";
  margin-bottom: 4rem;
}
.RefundPolicy-Title {
  color: #cd07f6;
  font-family: "Poppins-Bold";
  margin: 2rem 0rem;
  padding-left: 0.5rem;
}

.RefundPolicy-text {
  font-family: "Poppins-Regular";
  padding-left: 1rem;
}
.RefundPolicy span {
  margin: 0rem;
  color: #cd07f6;
  font-family: "Poppins-Bold";
}
