@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../../assets/Fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Medula One";
    src: url(../../assets/Fonts/MedulaOne-Regular.ttf);
}

.Shop {
    margin: 5rem 0rem;
    padding: 0rem 10rem;
    background-color: none;
    display: flex;
    flex-direction: column;
}

.Shop-Title h1 {
    font-family: "Poppins-SemiBold";
    font-size: 3rem;
    margin-left: 2.5rem;
}

.Shop-Categories {
    margin-left: 2rem;
    width: 100%;
}

.Shop-Category__Btn {
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background: rgb(255, 97, 0);
    background: linear-gradient(
            0deg,
            rgba(255, 97, 0, 1) 0%,
            rgba(255, 145, 0, 1) 47%,
            rgba(253, 255, 161, 1) 100%
    );
    color: #fff;
    font-family: "Medula One";
    font-size: 1.2rem;
}

.Shop-Category__Btn:hover,
.Shop-Category__Btn:active {
    background: rgb(213, 67, 0);
    background: linear-gradient(
            0deg,
            rgba(213, 67, 0, 1) 0%,
            rgba(210, 123, 0, 1) 47%,
            rgba(206, 208, 132, 1) 100%
    );
}

.Shop-Category__Btn:active {
    transform: scale(0.9);
}

.Shop-Category__Btn:focus {
    background-color: gray;
}

.Shop-ProductList {
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Shop {
        padding: 0rem 0rem;
        align-items: center;
    }

    .Shop-Categories {
        margin-left: 0rem;
        width: 100%;
    }

    .Shop-Title h1 {
        font-size: 1.5em;
    }

    .Shop-Category__Btn {
        font-size: 17.8px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Shop {
        padding: 0rem 3rem;
        align-items: flex-start;
    }

    .Shop-Categories {
        width: 100%;
    }

    .Shop-Title h1 {
        font-size: 2em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Shop {
        padding: 0rem 5rem;
        align-items: flex-start;
    }

    .Shop-Categories {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Shop {
        padding: 0rem 10rem;
        align-items: flex-start;
    }

    .Shop-Category__Btn {
        font-size: 17.8px;
    }

    .Shop-Title h1 {
        font-size: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
