.TermsConditions {
  padding: 8rem;
}
.TermsConditions h1 {
  font-family: "Poppins-Bold";
}
.TermsConditions-Title {
  color: #cd07f6;
  font-family: "Poppins-Bold";
  margin: 2rem 0rem;
  padding-left: 0.5rem;
}

.TermsConditions-text {
  font-family: "Poppins-Regular";
  padding-left: 1rem;
}
