@font-face {
  font-family: "Medula One";
  src: url(../assets/Fonts/MedulaOne-Regular.ttf);
}
.Navbar {
  border-bottom: 1px solid #000;
  color: #000;
  padding-top: 0rem;
  font-family: Medula One;
  font-size: 17.2px;
  display: flex;
}
.Navbar-Brand {
  width: 6rem;
  height: 100%;
  order: 1;
}
.Navbar-Brand_mobile {
  display: none;
}
.Navbar-LinkGroup {
  margin-left: auto;
  margin-right: 0rem;
  height: 100%;
}
.Navbar-Collapse {
  height: 100%;
  order: 2;
}

.Navbar-Item {
  height: 100px;
  margin-top: 0rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Navbar-Link {
  color: #000;
  background-color: transparent;
  border: none;
  padding: 0rem;
}

.Navbar-Item:hover .Navbar-Link,
.Navbar-Item:hover,
.Navbar-Item:active {
  color: #fff;
  background-color: #000;
}
.Navbar-Item:hover .Navbar-Link {
  background-color: transparent;
}
.Navbar-Item:hover {
  border-bottom: 1.5px solid rgb(206, 16, 206);
}

.Navbar-Menu {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px;
}

.Navbar-SocialMedia__Container {
  margin: 0 10em;
}
.Navbar-SocialMedia__img {
  width: 1rem;
}
.Navbar-Menu__Item {
  color: #fff;
  background-color: transparent;
}
.Navbar-SocialMedia__Group {
  width: 5rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-evenly;
  margin-left: 0rem;
}
.Navbar-SocialMedia {
  padding: 1rem 0rem;
}
.Navbar-SocialMedia svg {
  width: 1rem;
}

.Navbar-Search {
  display: flex;
  align-items: center;
}
.Navbar-Search__Label {
  width: 1rem;
}

.Navbar-Search__Input {
  width: 6rem;
}
.Navbar-Search__Input,
.Navbar-Search__Input:focus,
.Navbar-Search__Input:active {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  box-shadow: none;
}

.Navbar-Search__Input:focus,
.Navbar-Search__Input:active {
  border-bottom: 1px solid #000;
}

.Navbar-Cart {
  display: flex;
  align-items: center;
  width: 5rem;
  color: #000;
}

.show.Navbar-Cart__Container {
  background-color: #000;
  border-bottom: 1.5px solid rgb(206, 16, 206);
}
.Navbar-Cart img {
  width: 1.5rem;
}
.Navbar-Cart p {
  margin: 0rem;
}

.Navbar-Btn {
  width: 2rem;
  background-color: none;
  background-color: transparent;
  border: none;
  padding: 0rem;
  margin-left: 1rem;
}
.Navbar-Btn svg {
  width: 100%;
}
.Navbar-Cart_Dropdown {
  width: 300px;
  padding: 1.2rem 1rem;
  border-radius: 0rem;
  margin-top: 5px;
}
.Navbar-Checkout {
  width: 85%;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 97, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 97, 0, 1) 0%,
    rgba(255, 145, 0, 1) 47%,
    rgba(253, 255, 161, 1) 100%
  );
  color: #fff;
  font-family: "Medula One";
  font-size: 17.1px;
  text-align: center;
}

.Navbar-Checkout:hover,
.Navbar-Checkout:active {
  background: rgb(213, 67, 0);
  background: linear-gradient(
    0deg,
    rgba(213, 67, 0, 1) 0%,
    rgba(210, 123, 0, 1) 47%,
    rgba(206, 208, 132, 1) 100%
  );
  color: #fff;
}

.Navbar-Checkout:active {
  transform: scale(0.9);
}
.Navbar-Separator {
  color: #000;
  background-color: #000;
  height: 5px;
  display: none;
}
.Navbar-SignIn {
  list-style-type: none;
  height: 100px;
  margin-top: 0rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Navbar-SignIn__Btn {
  color: #000;
  height: 100%;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}
.Navbar-SignIn:hover .Navbar-SignIn__Btn {
  color: #fff;
  background-color: #cd07f6;
  border-bottom: 1px solid #000;
}
.Navbar-Brans_whiteBackground {
  display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .Navbar-Collapse {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    color: #000;
    width: 100vw;
    height: 103vh;
    position: absolute;
    z-index: 997;
    margin: 88vh 0rem 0rem -1rem;
    position: fixed;
    overflow: auto;
    padding-bottom: 2rem;
  }

  .Navbar-Brand_whiteBackground {
    position: absolute;
    z-index: 998;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8970938717283788) 95%,
      rgba(255, 255, 255, 0.404096672848827) 98%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 100%;
    height: 100px;
  }
  .Navbar-Brand_mobile {
    display: block;
    position: absolute;
    z-index: 999;
    width: 6rem;
    top: 5.5px;
    left: 15.8px;
  }
  .Navbar-LinkGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    margin-top: 6rem;
  }

  .Navbar-Item,
  .Navbar-Link,
  .Navbar-Search,
  .Navbar-Search__Input,
  .Navbar-SocialMedia__Container {
    width: 100%;
  }
  .Navbar-Item {
    height: 2rem;
  }
  .Navbar-Link {
    text-align: center;
  }
  .Navbar-Search {
    padding: 0rem 1.5rem 0rem;
  }
  .Navbar-Search__Input {
    color: #fff;
  }
  .Navbar-Search__Input:focus {
    background-color: #fff;
    color: #000;
  }
  .Navbar-SocialMedia__Container {
    margin: 0rem;
    width: 100%;
    height: 10vh;
  }
  .Navbar-SocialMedia__Group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0rem 2rem;
  }
  .Navbar-SocialMedia {
    margin: 0rem 1rem;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  .Navbar-Shop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .Navbar-Menu {
    position: absolute;
    display: none !important;
  }

  .Navbar-Btn {
    z-index: 999;
    position: absolute;
    bottom: 33px;
    left: -5px;
  }
  .Navbar-Search {
    margin-top: 1rem;
  }
  .Navbar-Search__Label {
    width: 1.5rem;
  }
  .Navbar-Search__Input,
  .Navbar-Search__Input:focus,
  .Navbar-Search__Input:active {
    border: none;
    background-color: white;
    box-shadow: none;
  }
  .Navbar-Search__Input:focus,
  .Navbar-Search__Input:active {
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

  .Navbar-Cart {
    width: 6.5rem;
  }
  .Navbar-Cart__Container {
    height: 4rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    display: none;
  }
  .Navbar-Cart__Mobile {
    height: 5rem;
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
  }
  .Navbar-Cart__MobileContainer p {
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
  }
  .Navbar-Cart_Dropdown {
    display: none !important;
  }
  .Navbar-Cart__MobileContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 2rem;
    margin-left: 1rem;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .Navbar-Cart__Mobile::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 17px 3px rgba(255, 200, 0, 1),
      0 0 4px 2px rgba(255, 200, 0, 1);
    box-shadow: 0 0 17px 3px rgba(255, 200, 0, 1),
      0 0 4px 2px rgba(255, 200, 0, 1);
    z-index: -1;
    -webkit-animation-name: yellow-shadow;
    animation-name: yellow-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 3.7s;
    animation-duration: 3.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .Navbar-Cart__Mobile::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 17px 3px rgba(252, 0, 255, 1),
      0 0 4px 2px rgba(252, 0, 255, 1);
    box-shadow: 0 0 17px 3px rgba(252, 0, 255, 1),
      0 0 4px 2px rgba(252, 0, 255, 1);
    z-index: -1;
    -webkit-animation-name: cyan-shadow;
    animation-name: cyan-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 3.7s;
    animation-duration: 3.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .Navbar-Cart__Neon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 98%;
    height: 97%;
    padding: 0px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .Navbar-shop__btn {
    margin-top: -0.5rem;
  }
  .Navbar-SignIn {
    margin: 2rem 0rem 2rem;

    width: 83%;
    height: 10vh !important;
  }
  .Navbar-SignIn__Btn {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(
      198deg,
      rgba(219, 194, 0, 1) 0%,
      rgba(255, 200, 0, 1) 31%,
      rgba(252, 0, 255, 1) 100%
    );
    border-radius: 10px;
    padding: 0.5rem 0rem 0.5rem;
  }
  .Navbar-SignIn:hover .Navbar-SignIn__Btn {
    background: linear-gradient(
      198deg,
      rgba(219, 194, 0, 1) 0%,
      rgba(255, 200, 0, 1) 31%,
      rgba(252, 0, 255, 1) 100%
    );
  }
  .Sidebar-btn {
    order: 4;
    z-index: 999;
  }
  .navbar-brand {
    order: 2;
    margin-left: auto;
  }
  .Navbar-Collapse {
    order: 3;
  }
  .Navbar-Btn__Container {
    order: 1;
  }
  .Navbar-Brand_mobile {
    display: block;
    position: absolute;
    z-index: 999;
    width: 6rem;
    top: 5.5px;
    left: 50%;
    margin-left: -3.9rem;
  }
  .Sidebar-toggler__btn {
    width: 30px;
    z-index: 99;
    border-radius: 50%;
    border: 1px solid rgba(255, 145, 0, 1);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Navbar-Cart__Container:hover,
  .Navbar-Cart__Container:hover .Navbar-Cart__icon,
  .Navbar-Cart__icon:hover,
  .Navbar-Cart__Container:hover .Navbar-Cart {
    color: #fff;
    fill: #fff;
    background-color: #000;
  }
  .show .Navbar-Cart__icon,
  .show .Navbar-Cart {
    color: #fff;
    fill: #fff;
  }
  .Sidebar-btn {
    order: 4;
    z-index: 999;
  }
  .Navbar-Brand {
    order: 2;
    margin-left: auto;
  }
  .Navbar-Collapse {
    order: 3;
  }
  .Navbar-Brand_mobile {
    order: 2;
  }

  .Navbar-Btn__Container {
    order: 1;
  }
  .Navbar-Brand__ContainerMobile {
    display: block;
  }
  .Navbar-Brand__Container {
    display: block;
  }
  .Navbar-Brand_mobile {
    display: block;
    position: absolute;
    z-index: 999;
    width: 6rem;
    top: 5.5px;
    left: 50%;
    margin-left: -3.9rem;
  }
  .Sidebar-toggler__btn {
    width: 30px;
    z-index: 999;
    border-radius: 50%;
    border: 1px solid rgba(255, 145, 0, 1);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Navbar-Cart__MobileContainer {
    display: none;
  }
  .Navbar-SocialMedia__Container {
    display: none;
  }
  .Navbar-LinkGroup {
    margin-left: auto;
    margin-right: auto;
  }
  .Navbar-Link {
    color: #000;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .Navbar-Menu {
    position: absolute;
    display: none !important;
  }
  .Navbar-Shop:hover .Navbar-Menu {
    display: block !important;
  }
  .Sidebar-btn {
    order: 3;
  }
  .Navbar-Brand {
    order: 1;
  }
  .Navbar-Collapse {
    order: 2;
  }
  .Navbar-Brand_mobile {
    order: 1;
  }
  .Navbar-Btn__Container {
    order: 4;
  }
  .Navbar-Brand_mobile {
    display: block;
    position: absolute;
    z-index: 999;
    width: 6rem;
    top: 12px;
    left: 15.9px;
    margin-left: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Navbar-SocialMedia__Container {
    display: flex;
    margin: 0 4em;
  }

  .Navbar-LinkGroup {
    margin-left: auto;
    margin-right: 0rem;
  }
  .Navbar-shop__btn {
    margin-top: 0rem;
    padding: 0rem 0.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Navbar-SocialMedia__Container {
    display: flex;
    margin: 0 10em;
  }
}

@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}
.Sidebar-btn {
  order: 3;
}
.Sidebar-menuBars {
  font-size: 2rem;
  background: none;
}
.Sidebar-Header {
  height: 115px;
  color: #fff;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #cd07f6;
}
.Sidebar-Header::before {
  content: "\25ba";
  left: -15px;
  top: 120px;
  position: absolute;
  color: #000;
  width: 20px;
}
.Sidebar-Header__pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 1rem 1rem 1rem 0.5rem;
}
.Sidebar-Header__ColInfo {
  padding-left: 2rem;
}
.Sidebar-Header__username {
  font-family: "Poppins-Bold";
  font-size: 1rem;
  margin: 0;
}
.Sidebar-Header__accountLink {
  font-family: "Poppins-Medium";
  font-size: 0.5rem;
  color: #cd07f6;
}
.Sidebar-menu {
  background-color: #8da2af;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 1000;
}

.Sidebar-menu.active {
  right: 0;
  transition: 350ms;
  z-index: 1000;
}

.Sidebar-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  font-family: "Poppins-SemiBold";
}

.Sidebar-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 0.8rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3px 16px;
  border-bottom: 1px solid #8da2af;
  border-radius: 4px;
}

.Sidebar-text a:hover {
  background-color: #000;
  border-bottom: 1px solid #cd07f6;
}

.Sidebar-menuItems {
  width: 100%;
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.Sidebar-toggle {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  right: 10px;
}

span {
  margin-left: 16px;
}
.Sidebar-Footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  padding-left: 2rem;
  padding-bottom: 3rem;
  margin-top: auto;
}
.Sidebar-Footer__Logo {
  width: 150px;
}
.Sidebar-Footer__SocialFlow {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: -15px;
  margin-top: 1rem;
}
.Sidebar-Footer__SocialLink:hover {
  fill: rgba(255, 145, 0, 1);
}
